<html>
  <head>
    <style>
      body { background: gainsboro; }
      a { visited: blue; hover: orange;  }
    </style>
      
    <!--<link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">-->
    {% if title %}
    <title>{{ title }} - MovieRater</title>
    {% else %}
    <title>MovieRater</title>
    {% endif %}
  </head>
  <body style="background:gainsboro;">
    <p><a href="/index">Log In</a> | <a href="/home">Home</a> | <a href="/index">Sign Out</a></p>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
