{% extends "base.html" %}
{% block content %}
<form action="/home" method="post" style="width=0 auto; margin=600px;">
  {{ form.hidden_tag() }}
  <p>Feel free to browse through the different movies and give them your own rating out of 5!</p>
    <div class="movie">
      <img src="static/photos/star-wars.jpg" alt="Star Wars: The Force Awakens" height="300" width="200">
      <p>{{ form.star_wars_rating.label }} | {{ form.star_wars_rating(size=2, value=ratings["star-wars-the-force-awakens"]) }} /5</p>
    </div>

    <div class="movie">
      <img src="static/photos/hobbit.jpg" alt="The Hobbit: An Unexpected Journey" height="300" width="200">
      <p>{{ form.hobbit_rating.label }} | {{ form.hobbit_rating(size=2, value=ratings["the-hobbit-an-unexpected-journey"]) }} /5</p>
    </div>

    <div class="movie">
      <img src="static/photos/monty-python.jpg" alt="Monty Python and the Holy Grail" height="300" width="200">
      <p>{{ form.monty_python_rating.label }} | {{ form.monty_python_rating(size=2, value=ratings["monty-python-and-the-holy-grail"]) }} /5</p>
    </div>

    <div class="movie">
      <img src="static/photos/harry-potter.jpg" alt="Harry Potter and the Deathly Hallows Part 2" height="300" width="200">
      <p>{{ form.harry_potter_rating.label }} | {{ form.harry_potter_rating(size=2, value=ratings["harry-potter-and-the-deathly-hallows-pt-2"]) }} /5</p>
    </div>

    <div class="movie">
      <img src="static/photos/quiet-place.jpg" alt="A Quiet Place" height="300" width="200">
      <p>{{ form.quiet_place_rating.label }} | {{ form.quiet_place_rating(size=2, value=ratings["a-quiet-place"]) }} /5</p>
    </div>
    <p>
      {{ form.submit() }}
    </p>
</form>
{% endblock %}
