{% extends "base.html" %}
{% block content %}
<!---<form action="{{ url_for('index') }}" method="post">-->
  <form action="/index" method="post">
    <h2>MovieRater</h2>
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }} <br>
    {{ form.username(size=32) }}
  </p>
  <p>
    {{ form.password.label }} <br>
    {{ form.password(size=32) }}
  </p>
  <p>
    {{ form.submit() }}
  </p>
  <p>Don't have an account? <a href="/signup">Sign up</a> here!</p>
</form>
{% endblock %}
