{% extends "base.html" %}
{% block content %}
<!---<form action="{{ url_for('index') }}" method="post">-->
<form action="/signup" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }} <br>
    {{ form.username(size=32) }}
  </p>
  <p>
    {{ form.password.label }} <br>
    {{ form.password(size=32) }}
  </p>
  <p>
    {{ form.conf_pswd.label }} <br>
    {{ form.conf_pswd(size=32) }}
  </p>
  <p>
    {{ form.submit() }}
  </p>
</form>
{% endblock %}
